.cardContainer {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.cardContainer:not(:first-child) {
  margin-top: 28px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clientWebsiteLogo {
  width: 100%;
}

.description {
  color: rgb(101, 116, 139);
  font-weight: 300;
  font-size: 1rem;
  text-align: justify;
}

@media screen and (max-width: 400px) {
  .description {
    text-align: left;
  }
}

.infoContainer {
  padding: 32px 24px;
  background-color: white;
}

.companyInfoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.companyLogoImageContainer {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.companyInfo {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(18, 24, 40);
}

.websiteLink {
  color: rgb(18, 24, 40);
  text-decoration: none;
}

.websiteLink:hover {
  text-decoration: underline;
}
