.websiteNameContainer {
  text-align: center;
  background-color: rgb(229, 231, 235);
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
}

.websiteName,
.websiteNameNoLink {
  margin: 0;
  color: rgb(18, 24, 40);
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.websiteName:hover {
  text-decoration: underline;
  cursor: pointer;
}
