.buttonContainer {
  width: 150px;
  height: 25px;
  background-color: rgb(80, 72, 229);
  padding: 12px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 300px) {
  .buttonContainer {
    width: auto;
  }
}

.buttonContainer:hover {
  background-color: rgb(56, 50, 160);
  cursor: pointer;
}

.buttonTextContainer {
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  user-select: none;
  text-align: center;
}

.lottieAnimationContainer {
  height: 40px;
  width: 40px;
}
